<%= form_for [:admin, @recipe] do |f| %>

  <div class="form-group">
    <h2>Algemeen</h2>
  </div>

  <div class="form-group">
    <label>Titel</label>
    <%= f.text_field :title, placeholder: "Recept naam", class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Ondertitel</label>
    <%= f.text_field :subtitle, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Beschrijving</label>
    <%= f.text_area :intro, placeholder: "Type hier een korte omschrijving...", class: "form-control intro" %>
  </div>

  <div class="form-group time-person">
    <div class="cooking-time">
      <label>Bereidingstijd</label>
        <div class="time">
          <%= f.number_field :cooking_time, class: "form-control" %>
          <span>minuten</span>
        </div>
    </div>
    <div class="amount-people">
      <label>Aantal personen</label>
        <div class="people">
          <%= f.number_field :persons, class: "form-control" %>
          <span>personen</span>
        </div>
    </div>
  </div>

  <div class="form-group">
    <label>Photos</label>
    <div class="photos">
      <span class="btn btn-default">
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </span>
  </div>

  <hr>

<% end %>
