<div class="recipe-container">
  <h2><%= @recipe.title %></h2>
  <p><%= @recipe.subtitle %></p>

  <hr>
  
  <h3>Algemeen</h3>
  <p><%= @recipe.intro %></p>
  <div class="general time-persons">
    <p class="general time"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= @recipe.cooking_time %> minuten</p>
    <p class="general persons"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @recipe.persons %> personen</p>
  </div>

  <hr>

  <h3>Ingrediënten</h3>
  <ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient.amount %>
      <%= ingredient.product.name %>
    </li>
  <% end %>
  </ul>

  <hr>

  <h3>Bereidingsstappen</h3>
  <ol>
    <% @recipe.cooking_steps.each do |cooking_step| %>
      <li>
        <%= cooking_step.title %>
        <%= cooking_step.description %>
        <%= cooking_step.cooking_time %>
      </li>
    <% end %>
  </ol>
</div>
