<!DOCTYPE html>
<html>
  <head>
    <title>Lemon & Ginger - Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
    <%=  stylesheet_link_tag 'admin', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Lemon & Ginger | Admin", admin_recipes_path %></h1>
    </header>

    <main>
      <nav>
        <%= render 'layouts/admin_navigation' %>
      </nav>

      <div id="content">
        <% if notice.present? %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
        <% end %>
        <% if alert.present? %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
        <% end %>

        <%= yield %>
      </div>
    </main>

  </body>
</html>
