<!DOCTYPE html>
<html>
  <head>
    <title>Lemon & Ginger - Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
    <%=  stylesheet_link_tag 'admin', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Admin", admin_recipes_path %></h1>
      <%= link_to "Uitloggen", destroy_admin_session_path, method: :delete %>
    </header>

    <main>
      <nav>
        <%= render 'layouts/admin_navigation' %>
      </nav>

      <div id="content">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
