<!DOCTYPE html>
<html>
  <head>
    <title>Lemon & Ginger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=  stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' %>
  </head>

  <body>
    <header>
      <h1>Lemon & Ginger</h1>
      <%= render 'layouts/navigation' %>
    </header>

    <div id="banner">
      <img src="https://placeit.net/uploads/stage/stage_image/4903/default_watermarked_a11191base.png" alt="Get the app now">
      <div id="banner-text">
        <h2>Get the app!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a posuere orci. Pellentesque mattis finibus arcu vel tristique. Sed varius eu arcu ut efficitur. In condimentum, ante vitae lacinia accumsan, odio nisi feugiat ex, sed tempus diam mi nec arcu. Nulla facilisi. Curabitur feugiat arcu sit amet vulputate convallis. Suspendisse sit amet dui at orci imperdiet gravida. Vestibulum ut dui nec massa tincidunt rutrum. Nulla facilisi. Ut vel pretium enim. Morbi ornare feugiat nibh, eget cursus sapien luctus eu. Curabitur volutpat maximus nunc, a tincidunt purus facilisis scelerisque. Sed at varius dui.</p>
      </div>
    </div>

    <main>
      <%= yield %>
    </main>

    <footer>
      Footer
    </footer>

  </body>
</html>
