<!DOCTYPE html>
<html>
  <head>
    <title>Lemon & Ginger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=  stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Lemon & Ginger", root_path %></h1>
      <%= render 'layouts/navigation' %>
    </header>

    <div id="banner">
      <div id="banner-image" style="width: 300px; height: 400px; background-color: grey;">
        [image here]
      </div>
      <div id="banner-text">
        <h2>Get the app!</h2>
        <p>Dit is dè app voor lekkere gezonde vegetarische recepten. Veel recepten zijn helemaal vegan en dat is lekker duurzaam. En ze zijn allemaal suikervrij, ook de awesome chocolatechip cookies. We hebben simpele recepten met bergen groenten, plantaardige eiwitten en frisse salades. En als je iets meer wilt weten over eten, koken of bepaalde producten druk dan op de informatie button. </p>
       <p>Wist je dat er ook een prima zoekfunctie is en dat er af en toe combineersuggesties zijn, zodat je je maaltijd kan uitbreiden naar een feestmaal?</p>
       <p>Start cooking!</p>
      </div>
    </div>

    <main>
      <%= yield %>
    </main>

    <footer>
      Footer
    </footer>

  </body>
</html>
